<?xml version="1.0" encoding="utf-8"?>
<!--
  Fire OS es Android. Lo que distingue a una app de tele de una de movil es
  LEANBACK_LAUNCHER (es lo que la hace salir en la fila de aplicaciones del
  Fire TV) y no exigir pantalla tactil, que un Fire Stick no tiene.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moviesandchill.tv"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="22" android:targetSdkVersion="30" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Un Fire Stick no tiene pantalla tactil: sin esto la Store y el
         lanzador lo tratan como app de movil y no aparece en la tele. -->
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.software.leanback" android:required="false" />

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/icon"
        android:banner="@drawable/banner"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
